body{
    text-align: center;
    font-family: sans-serif;
    background-color: darkgray;
}

h1{
    font-family: fantasy;
}

table{
    background-color: white;
    border-color: darkblue;
    font-family: sans-serif;
}



